*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #282c34;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.box-login{
  width: 600px;
  height: 560px;
  background-color: #353b46;
  border-radius: 10px;
  border: 1px solid rgb(59, 59, 59);
  position:absolute;
	left:30%;
	top:20%;
}

.box-login h2{
  margin-top: 30px;
  font-size: 56px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.form-login{
  margin-top: 50px;
}

.form-login input{
  width: 360px;
  height: 40px;
  padding: 0 15px;
  border-radius: 15px;
  border: none;
  border-bottom: 1px solid black;
  margin: 40px 80px;
  background-color: rgb(195, 195, 195);
  font-size: 18px;
}

.form-login button{
  width: 270px;
  height: 50px;
  margin-top: 40px;
  background-color: rgb(5, 224, 224);
  border-radius: 15px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


